@import url(https://fonts.googleapis.com/css?family=Marcellus+SC);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

$marc: 'Marcellus SC', serif;
$lato: 'Lato', sans-serif;
$sans: 'Open Sans Condensed', sans-serif;